@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #000000;
  }
}

.empty-state-dot {
  background-image: radial-gradient(#000000 1px, transparent 1px);
  background-size: 20px 20px;
}
